#chartarea{
  display: flex;
  flex-direction: row;
  padding-left:300px;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

#legendtitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#legendbox {
  padding-left: 10px;
}

#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}